VITE_FIREBASE_API_KEY=your_firebase_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=sara-exams.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sara-exams
VITE_FIREBASE_STORAGE_BUCKET=sara-exams.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=207063629440
VITE_FIREBASE_APP_ID=1:207063629440:web:963e9ca48ae80f88ab7065
VITE_FIREBASE_MEASUREMENT_ID=G-9C8K4803X3
